.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 0;
    background-color: #cae6e1;
    .skills {
        width: 100%;
        max-width: 662px;
        .skills-details {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .skill {
                width: 33%;
                p, li {
                    font-size: 24px;
                }
                p {
                    margin-bottom: 20px;
                }
                li {
                    list-style-position: inside;
                }
            }
        }
    }
}